

    <div class="page-wrapper">
      

        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="intro-slider-container mt-2">
                            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" 
                                data-owl-options='{
                                    "dots": true,
                                    "nav": true, 
                                    "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>
                                <div class="intro-slide banner-lg" style="background-image: url(assets/images/demos/demo-22/slider/slide-1.jpg);">
                                    <div class="intro">
                        
                                        <div class="content">
                                            <h3><span>Manage</span> Your products <span></span></h3><h4>here</h4>
                                        </div>
                                        <div class="action">
                                            <a href="category.html">discover now</a>
                                        </div>
                                    </div>
                                </div><!-- End .intro-slide -->

                               


                                
                            </div><!-- End .intro-slider owl-carousel owl-simple -->

                            <span class="slider-loader"></span><!-- End .slider-loader -->
                        </div><!-- End .intro-slider-container -->
                    </div>
                    <div class="col-lg-4 banner">
                        <div class="col-12" style="background-image: url(assets/images/demos/demo-22/slider/banner-1.jpg)">
                            <div class="intro">
                                
                                <div class="content">
                                    <h3>Manage </h3> <h3 class="highlight">&nbsp;Your clients</h3>
                                </div>
                                <div class="action">
                                    <a href="category.html">manage now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="background-image: url(assets/images/demos/demo-22/slider/banner-2.jpg)">
                            <div class="intro">
                                <div class="title">
                                    <h2>Manage Orders</h2>
                                </div>
                                <div class="content">
                                    <h4>here</h4>
                                </div>
                                <div class="action">
                                    <a href="category.html">manage now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="background-image: url(assets/images/demos/demo-22/slider/banner-3.jpg)">
                            <div class="intro">
                                <div  class="title">
                                    <h3 class="highlight"></h3><h3>&nbsp;distribute</h3>
                                </div>
                                <div class="content">
                                    <h3>coupons</h3>
                                </div>
                                <div class="action">
                                    <a href="category.html">Manage now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    </div>
    
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    

 
    
   
   
   