            <!-- left panel -->
            <div class="col-lg-4 col-sm-9 mb-2-3 mb-lg-0">

              <div class="account-pannel" style="min-height: 563px;">

                <div class="p-4">

                  <div class="text-center">
                    <div class="pb-3">
                      <img
                        class="img-fluid rounded-circle img-thumbnail"
                        src="imgNA/avatar/t-3.jpg"
                        alt="..."
                      />
                    </div>
                    <h6 class="mb-0 display-28">{{user_list.name}}</h6>
                    {{!-- <small>Joined February 06, 2017</small> --}}
                    <div class="reward-points">
                      <i class="ti-star text-primary pe-1"></i>
                      WalletBalance: Rs {{user_list.walletBalance}}
                    </div>
                  </div>
                </div>

                 <div class="list-group">
                                <a class="list-group-items" href="/orders"  style="background-color: #717fe0;"><i class="ti-bag pe-2"></i>Orders<span class="badge badge-pill"></span></a>
                                <a class="list-group-items" href="/profile"><i class="ti-user pe-2"></i>Profile</a>
                                <a class="list-group-items"  href="/address"><i class="ti-location-pin pe-2" ></i>Addresses</a>
                               
                            </div>

              </div>

            </div>