
    <div class="page-wrapper">
      

        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="intro-slider-container mt-2">
                            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" 
                                data-owl-options='{
                                    "dots": true,
                                    "nav": true, 
                                    "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>
                                <div class="intro-slide banner-lg" style="background-image: url(assets/images/demos/demo-22/slider/slide-1.jpg);">
                                    <div class="intro">
                                        <div class="title">
                                            <a>Capture The Power</a>
                                        </div>
                                        <div class="content">
                                            <h3><span>grab</span> with a click<span></span></h3><h4>heavy duty deals</h4>
                                        </div>
                                        <div class="action">
                                            <a href="category.html">discover now</a>
                                        </div>
                                    </div>
                                </div><!-- End .intro-slide -->

                                <div class="intro-slide banner-lg" style="background-image: url(assets/images/demos/demo-22/slider/slide-2.jpg);">
                                    <div class="intro">
                                        <div class="title">
                                            <a>clearance</a>
                                        </div>
                                        <div class="content">
                                            <h3>power tools<br>for low<span>price</span></h3>
                                        </div>
                                        <div class="action">
                                            <a href="category.html">discover now</a>
                                        </div>
                                    </div>
                                </div><!-- End .intro-slide -->


                                
                            </div><!-- End .intro-slider owl-carousel owl-simple -->

                            <span class="slider-loader"></span><!-- End .slider-loader -->
                        </div><!-- End .intro-slider-container -->
                    </div>
                    <div class="col-lg-4 banner">
                        <div class="col-12" style="background-image: url(assets/images/demos/demo-22/slider/banner-1.jpg)">
                            <div class="intro">
                                <div class="title">
                                    <h3>New arrivals</h3>
                                </div>
                                <div class="content">
                                    <h3>get branded </h3> <h3 class="highlight">&nbsp;products</h3>
                                </div>
                                <div class="action">
                                    <a href="category.html">shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="background-image: url(assets/images/demos/demo-22/slider/banner-2.jpg)">
                            <div class="intro">
                                <div class="title">
                                    <h2>outdoor</h2>
                                </div>
                                <div class="content">
                                    <h4>power equipment</h4>
                                </div>
                                <div class="action">
                                    <a href="category.html">shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="background-image: url(assets/images/demos/demo-22/slider/banner-3.jpg)">
                            <div class="intro">
                                <div  class="title">
                                    <h3 class="highlight">save money</h3><h3>&nbsp;have your deals</h3>
                                </div>
                                <div class="content">
                                    <h3>deals & savings</h3>
                                </div>
                                <div class="action">
                                    <a href="category.html">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="featured-back" style="background-image: url(assets/images/demos/demo-22/featured/background.jpg);">
                <div class="container">
                    <div class="section-title">
                        <ul class="nav nav-pills nav-border-anim" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-featured-link" data-toggle="tab" href="#tab-featured" role="tab" aria-controls="tab-featured" aria-selected="true"><span>Featured</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-best-link" data-toggle="tab" href="#tab-best" role="tab" aria-controls="tab-best" aria-selected="false"><span>Bestsellers</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-sale-link" data-toggle="tab" href="#tab-sale" role="tab" aria-controls="tab-sale" aria-selected="false"><span>Sale</span></a>
                            </li>
                        </ul>

                    
                        <a class="link" href="#">All Featured Products</a>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="product-lg">
                                <figure class="product-media">
                                    <span class="product-label label-limited">limited time sale</span>
                                    <a href="product.html">
                                        <img src="assets/images/demos/demo-22/featured/product-1.jpg" alt="Product image" class="product-image">
                                    </a>

                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="save-price"><span>Save $64.00</span></h3>
                                    <h3 class="product-title"><a href="product.html">DEWALT DWE575SB</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="new-price">$79.00</span>
                                        <span class="old-price">Was $143.00</span>
                                    </div><!-- End .product-price -->
                                    <div class="action">
                                        <a href="category.html">shop now</a>
                                    </div>
                                </div><!-- End .product-body -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-featured" role="tabpanel" aria-labelledby="tab-featured-link">
                                    <div class="row products all">
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <span class="product-label label-sale">Sale</span>
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-2.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Woodworking</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">DEWALT DWARA 100</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <span class="new-price">$23.35</span>
                                                        <span class="old-price">Was $40.99</span>
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-3.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Power Tool Accessories</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">Milwaukee Battery 18V LITHIUM</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $34.99
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->


                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-4.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Power Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">DEWALT Hammer Drill</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $79.00
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-5.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Air Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">Makita XBU02PT1</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $302.20
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <span class="product-label label-sale">Sale</span>
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-6.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Hand Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">DEWALT DWASHRIR</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <span class="new-price">$70.95</span>
                                                        <span class="old-price">Was $90.00</span>
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-7.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Power Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">Milwaukee 2648-20</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $151.75
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-nav product-nav-dots">
                                                        <a href="#" class="active" style="background: #af5f23;"><span class="sr-only">Color name</span></a>
                                                        <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                                        <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                                    </div><!-- End .product-nav -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                    </div><!-- End .row -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="tab-best" role="tabpanel" aria-labelledby="tab-best-link">
                                    <div class="row products">
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <span class="product-label label-sale">Sale</span>
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-2.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Woodworking</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">DEWALT DWARA 100</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <span class="new-price">$23.35</span>
                                                        <span class="old-price">Was $40.99</span>
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-4.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Power Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">DEWALT Hammer Drill</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $79.00
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-5.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Air Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">Makita XBU02PT1</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $302.20
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                   </div>
                                </div>
                                <div class="tab-pane fade" id="tab-sale" role="tabpanel" aria-labelledby="tab-sale-link">
                                    <div class="row products">
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-4.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Power Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">DEWALT Hammer Drill</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $79.00
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-5.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Air Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">Makita XBU02PT1</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $302.20
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <span class="product-label label-sale">Sale</span>
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-6.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Hand Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">DEWALT DWASHRIR</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <span class="new-price">$70.95</span>
                                                        <span class="old-price">Was $90.00</span>
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="assets/images/demos/demo-22/featured/product-7.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Power Tools</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">Milwaukee 2648-20</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $151.75
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-nav product-nav-dots">
                                                        <a href="#" class="active" style="background: #af5f23;"><span class="sr-only">Color name</span></a>
                                                        <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                                        <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                                    </div><!-- End .product-nav -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>

                    <div class="mb-2"></div><!-- End .mb-6 -->
                </div><!-- End .container -->
            </div>

         

            <div class="container banner-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 banner-lg">
                        <a href="category.html">
                            <img src="assets/images/demos/demo-22/banner/banner-1.jpg">
                        </a>
                        <div class="banner-content">
                            <div class="title">
                                <a href="category.html">shop now</a>
                            </div>
                            <div class="content">
                                <a href="category.html">
                                    <h3 class="highlight">Premium Brands</h3>
                                    <h4>for the Toughest Jobs</h4>
                                </a>
                            </div>
                            <div class="action">
                                <a href="category.html">discover now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 banner-lg">
                        <a href="category.html">
                            <img src="assets/images/demos/demo-22/banner/banner-2.jpg">
                        </a>
                        <div class="banner-content">
                            <div class="title">
                                <a href="category.html">best sellers in tools</a>
                            </div>
                            <div class="content">
                                <a href="category.html">
                                    <h3>Pro-level tools</h3>
                                    <h4 class="highlight">Save on Bestsellers</h4>
                                </a>
                            </div>
                            <div class="action">
                                <a href="category.html">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="container popular">
                <hr class="mb-5">

                <div class="section-title">
                    <div><p class="title"><span>Popular Products</span></p></div>
                    
                    <a class="link" href="#">See All Products</a>
                </div>

                <div class="row products">
                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <span class="product-label label-sale">Sale</span>
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-1.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Air Tools & Compressors</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Makita XCV11Z</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$158.40</span>
                                    <span class="old-price">Was $330.00</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 4 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #af5f23;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <span class="product-label label-sale">Sale</span>
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-2.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Power Tools</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Milwaukee 2803-20</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$77.99</span>
                                    <span class="old-price">Was $115.00</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                                
                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 2 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-3.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Power Tools</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Makita XSH03Z</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $119.99
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 2 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #cc6666;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #ccccff;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <span class="product-label label-sale">Sale</span>
                                <span class="product-label label-new">New</span>
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-4.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Air Tools & Compressors</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">DEWALT DCE511B</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$100.99</span>
                                    <span class="old-price">Was $130.00</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #ffca51;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #bb8379;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #666666;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-5.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Hand Tools</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">TEKTON 30603 Fiberglass</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $8.99
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 4 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-6.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Power Tool Accessories</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">DEWALT DCB205 20V</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $69.94
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 4 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <span class="product-label label-sale">Sale</span>
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-7.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Power Tools</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">BLACK+DECKER BDEJS600C</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$42.99</span>
                                    <span class="old-price">Was $67.50</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 3 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #78645f;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #b89474;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #666666;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-8.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Power Tool Accessories</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">DEWALT DW1354 14-Piece Titanium Drill Bit Set</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $29.99
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-9.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Power Tools</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">WEN 6530</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $41.61
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 7 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-22/products/product-10.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Power Tools</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Ryobi P506 One+</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $35.85
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                </div><!-- End .row -->
            </div>

         
           

        </main>

       


        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


       
       
    </div>
    
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
